.DS_Store
node_modules
/build
/.svelte-kit
/package
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/dist

# TODO: remove from gitignore once icons are added
/src-tauri/icons
